.wrap-article-content4 {
  width: 100%;
  height: 100%;
  background-color: #eceef2;
  padding-top: 10rem;
  padding-bottom: 8rem;
  position: relative;
  
}

.wrap-article {
  width: 100%;
  max-width: 74.375rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  margin-left: auto;
  margin-right: auto;
}
.column-article-content4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8rem;
  color: #000;
}
.column2-content4 {
  width: 100%;
}
.column2-content4 h2 {
  font-size: 4rem;
  line-height: 1.1875;
  font-weight: 700;
  letter-spacing: -1px;
  margin-bottom: 1.5rem;
}
.column2-content4 span {
  color: var(--primary-color2);
}
.column2-content4 h5 {
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: 1.5rem;
}
.column2-content4 p {
  font-size: 1.25rem;
  margin-bottom: 3rem;
  line-height: 1.5;
}
.column1-content4 img {
  width: 100%;
}

.btn-secondary-content4 {
  width: 17rem;

  position: relative;
  background-color: #000;
  display: inline-block;
  text-transform: uppercase;
  color: #fff;
  border-radius: 5.625rem;
  padding: 1rem 4.75rem 1rem 1.5rem;
  font-weight: 700;
  text-decoration: none;
  appearance: none;
  border: 0;
  cursor: pointer;
  letter-spacing: 0.08rem;
  line-height: 1.5rem;
  font-family: "Red Hat Display", sans-serif;
  text-align: left;
  transition: all 0.3s ease;
}
.btn-secondary-content4::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0.25rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  transform: translateY(-50%);
  background-image: url(https://www.jaybaer.com/wp-content/themes/jay-baer/images/arrow-white.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1.125rem;
  background-color: var(--primary-color1);
}

.btn-secondary-content4:hover {
  color: #fff;
  background-color: #3f3f3f;
}


@media screen and (max-width: 760px) {
  .column-article-content4 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.column2-content4 h2 {
    font-size: 3rem !important;
    line-height: 1.1875;

}
.btn-secondary-content4{
  width: 13rem;
  font-size: 0.8rem;
  padding: 0.6rem 0.7rem;
}
.btn-secondary-content4::after{
  width: 2rem;
  height: 2rem;
}
}



