.content-container-aboutcontent {
  width: 100%;
  background-color: #000;
  box-shadow: 0px -30px 80px 0px #000;
  position: relative;
  top: -20rem;
  padding-bottom: 30rem;
  
}

.content-wrapper-about {
  max-width: 74.4rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;

  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 2;
  
  color: white;
}
.article-container-about {
  background-color: white;
  padding: 5rem 2.5rem;
  
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
}
.column-article-aboutcontent2 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}



@media screen and (max-width: 1100px) {
  .article-container-about{
    padding: 4rem 1.5rem;
  }
  .column-article-about {
    display: flex;
    flex-direction: column;
    
  }
  .column1-influence-about img {
    display: none;
  }
  
}
@media screen and (max-width: 760px) {
  .column1-influence-about h4 {
    font-size: 2rem;
  }
  .column2-influence-about ul{
    font-size: 1rem !important;

  }
}
@media screen and (max-width: 545px) {
  .content-container-aboutcontent{
    top: -10rem;
  }
  .content-container-aboutcontent {
    background-color: #fff;
    box-shadow: none;
  }
  .content-wrapper-about{
    width: 100%;
    padding: 0;
    
  }
  .article-container-about{
    border-radius: 0;
  }
}
