.speaking-bg {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  object-fit: cover;
}

@media (max-width: 1300px) {
  .speaking-bg {
    top: 50%;
  }
}
