.content-container-speaking2 {
  width: 100%;

  height: auto;
  background-color: #000;
}

.content-wrapper-speaking2 {
  max-width: 74.4rem;
  padding: 8rem 2.5rem;

  margin-left: auto;
  margin-right: auto;

  color: white;
}


.column-article-speaking2 {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.column1-speaking {
  width: 80%;
}
.column1-speaking h2 a {
  font-size: 2.5rem;
  line-height: 1.2;
  text-decoration: none;
  color: #fff;
  transition: all 0.3s ease;
}
.column1-speaking h2 a:hover {
  color: var(--primary-color1);
}

.column2-speaking {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.column2-speaking p {
  font-size: 1.25rem;
  line-height: 1.5;
}
.change-width {
  width: 90%;
  
}

@media (max-width: 1100px) {
  .column-article-speaking2{
    display: flex;
    flex-direction: column;
    gap:3rem;
    
  }
}