.content-container-influence2 {
  width: 100%;
  margin-bottom: -15rem;

  background-color: #fff;
  position: relative;
  top: -20rem;
}

.content-wrapper-influence2 {
  max-width: 74.4rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;

  margin-left: auto;
  margin-right: auto;
  color: white;
}
.article-container-influence2 {
  background-color: var(--primary-color2);
  /* padding: 3rem 3rem; */
  border-radius: 0 0 10px 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.line-influence2 {
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.2);
  margin-top: 3rem;
}

.column-article-influence2 {
  display: flex;
  gap: 1rem;
  padding: 4rem 2.5rem;
}

.column1-influence2 {
  width: 100%;
}

.column1-influence2 h2 a:hover {
  color: var(--primary-color1);
}
.column1-influence2 p {
  font-size: 1.25rem;
  line-height: 1.5;
  color: #fff;
}
.wrap-column1-influence2 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.column2-influence2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.column2-influence2 ul {
  font-size: 1.25rem;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  line-height: 1.5;
}
.column2-influence2 li {
  list-style-type: none;

  color: #424242;
}
.column2-influence2 ul li::before {
  content: "•";
  color: #fff;
  margin-right: 0.4rem;
}

@media screen and (max-width: 1100px) {
  .column-article-influence2 {
    display: flex;
    flex-direction: column;
    padding: 4rem 1.5rem;
  }
  
}

@media screen and (max-width: 760px) {
  .wrap-column1-influence2 p {
    font-size: 1rem;
  }
  .column2-influence2 ul{
    font-size: 1rem;

  }
}
@media screen and (max-width: 560px) {
  .content-container-influence2 {
    top: -10rem;
  }
  .article-container-influence2 {
    border-radius: 0;
  }
}
@media screen and (max-width: 560px) {
  .content-container-influence2 {
    top: -10rem;
    margin-bottom: -5rem;
  }
  .content-wrapper-influence2 {
    width: 100%;
    padding: 0;
  }
}
