.contact-container {
  width: 100%;
  padding-bottom: 40rem;
  background-color: #000;
  box-shadow: 0px -30px 80px 0px #000;
}
.contact-position {
  top: -50rem;
}

.contact-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 4rem;
}
.contact-info h4 {
  font-size: 4rem;
  line-height: 1.2;
}
.contact-info p {
  font-size: 1.25rem;
  line-height: 1.5;
  width: 65%;
}

@media screen and (max-width:650px){
.contact-container{
  padding-bottom: 70rem;
}
.contact-info h4 {
  font-size: 3rem ;
  line-height: 1.2;
}
.contact-info p{
  width: 100%;
  padding-top: 1rem;
}

}
@media screen and (max-width:535px){
.contact-container{
  padding-bottom: 80rem;
}

}
