.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 700px;
  margin: 0 auto;
}

.contact-form label {
  font-size: 1.2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 30px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 1rem;
  border: none;
  border-radius: 4px;
  resize: vertical;
  background-color: #fff;
  color: #424242;
  font-size: 1.3rem;
  line-height: 1.5;
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
  border-color: var(--primary-color1);
}
.button-form-center {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.contact-form button {
  font-size: 1.1rem;
  width: 40%;
  margin-top: 2rem;
}
.date-resize {
  resize: none !important;
}
.flex-input {
  display: flex;
  gap: 2rem;
}
.form-btn {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color1);
  color: white;
  font-weight: 600;
  padding: 0.8rem 0.8rem;
  border: none;
  border-radius: 6px;
}
.icon-btn {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 650px) {
  .flex-input {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
  .email-form {
    width: 80%;
  }
}
@media screen and (max-width: 470px) {
  .contact-form button {
  
  width: 100%;
  
}
}