.content-container {
  position: relative;
  width: 100%;
  background-color: #000;
  box-shadow: 0px -80px 100px 0px rgba(0, 0, 0, 1);
  
}

.content-wrapper {
  position: relative;

  width: 100%;
  max-width: 74.4rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  margin-left: auto;
  margin-right: auto;
  z-index: 2;

  color: white;
}
.article-title {
  margin-top: 5rem;
  font-size: 2.4rem;
  line-height: 1.2;
  margin-bottom: 30rem;
}

.logos-title {
  margin: 0 0 1.75rem;
  font-size: 1rem;
  font-weight: 400;
  color: #fff;
}
.logos-gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  align-items: center;
  margin: 0 -1.75rem 0 -1.875rem;
}
.logos-img-wrapper {
  margin: 0 1.75rem 1.75rem 1.875rem;
}
.logos-img-wrapper img {
  max-width: 9.5rem;
  max-height: 3.6875rem;
  margin: auto;
  display: block;
  height: auto;
  border-style: none;
}

.content-bg-orange {
  background-color: var(--primary-color2);
  width: 100%;
  height: 30vh;
  position: relative;
}
.top-image {
  opacity: 1;
  background-repeat: repeat-x;
  background-size: auto;
  background-image: url("https://jaybaer.com/wp-content/uploads/2019/10/chequered.png");
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10rem;
  z-index: 1;
}
.video-container {
  position: absolute;
  top: 100%;
  left: 0%;
  transform: translatex(-50%, 50%);
  width: 100%;
  margin-top: 8rem;
  cursor: pointer;
  z-index: 999;
}
.video-container img {
  width: 100%;
  object-fit: cover;
  border-radius: 6px;
}
.opacity-video {
  position: absolute;

  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 6px;
}
.video-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.video-data .video-play {
  position: relative;
  width: 6.5rem;
  height: 6.5rem;
  margin-bottom: 1.5rem;
  background-color: #fff;
  border: 0.0625rem solid #ff682b;
  border-radius: 50%;
  transition: 0.2s all;
  margin: 0 auto 1.75rem;
  box-shadow: rgb(255 104 43 / 10%) 0 0 0 3.75rem;
}

.video-data .video-play::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 0;
  height: 0;
  margin-left: 0.3125rem;
  border-style: solid;
  border-width: 1rem 0 1rem 2rem;
  border-color: transparent transparent transparent #ff682b;
  transform: translate(-50%, -50%);
}
.video-heading h2 {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 0;
  letter-spacing: 0.0625rem;
  text-transform: uppercase;
  color: var(--primary-color1);
}
.video-heading p {
  margin-top: 0.5rem;
  text-align: center;
  font-size: 1rem;
}
.video-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-close {
  position: absolute;
  top: 4rem;
  right: 19rem;
  font-size: 2rem;
  font-weight: bold;
  color: #ccc;
  cursor: pointer;
}
.wrap-article-content1 {
  width: 100%;
  
  background-color: var(--primary-color2);
  padding-bottom: 5rem;
  padding-top: 10rem;
  position: relative;
}
.wrap-article {
  width: 100%;
  max-width: 74.375rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;

  margin-left: auto;
  margin-right: auto;
  color: #fff;
}
.column-article1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8rem;
}
.column1-content {
  width: 52%;
}
.column1-content h2 {
  font-size: 4rem;
  line-height: 1.1875;
  font-weight: 700;
  letter-spacing: -1px;
}
.column2-content {
  width: 50%;
  display: flex;
  flex-direction: column;

  height: auto;
}
.column2-content p,
ul {
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
  line-height: 1.5;
}
.column2-content li {
  list-style-type: none;

  margin-bottom: 1.3rem;

  color: #424242;
}
.column2-content ul li::before {
  content: "•";
  color: white;
  margin-right: 0.4rem;
}
.btn-secondary {
  width: 20rem !important;
  margin-top: 2.5rem;
  position: relative;
  background-color: #000;
  display: inline-block;
  text-transform: uppercase;
  color: #fff;
  border-radius: 5.625rem;
  padding: 1rem 4.75rem 1rem 1.5rem;
  font-weight: 700;
  text-decoration: none;
  appearance: none;
  border: 0;
  cursor: pointer;
  letter-spacing: 0.08rem;
  line-height: 1.5rem;
  font-family: "Red Hat Display", sans-serif;
  text-align: left;
  transition: all 0.3s ease;
}
.btn-secondary::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0.25rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  transform: translateY(-50%);
  background-image: url(https://www.jaybaer.com/wp-content/themes/jay-baer/images/arrow-white.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1.125rem;
  background-color: var(--primary-color1);
}

.btn-secondary:hover {
  color: #fff;
  background-color: #3f3f3f;
}

@media screen and (max-width: 1100px) {
 
  .article-title {
    margin-top: 3rem;

    margin-bottom: 15rem;
  }
  .column-article1 {
    width: 100%;

    flex-direction: column;
    gap: 1rem !important;
  }
  .column1-content {
    width: 100%;
  }
  .column2-content {
    width: 100%;
  }
}
@media screen and (max-width: 760px) {
  .content-container {
    padding-top:0;
    
  }
  .article-title {
    margin-top: 3rem;
    font-size: 1.5rem;
    line-height: 1.1875;
  }

  .column1-content h2 {
    font-size: 3rem;
    line-height: 1.1875;
    font-weight: 700;
    letter-spacing: -1px;
  }
}
@media screen and (max-width: 650px) {
  
  .article-title {
    margin-top: 3rem;

    margin-bottom: 10rem;
  }
  .content-bg-orange {
    height: 20vh;
  }
}

@media screen and (max-width: 544px) {
  .column1-content h2 {
    font-size: 2rem;
    line-height: 1.1;
    font-weight: 700;
    letter-spacing: -1px;
  }
  .column2-content p,
  ul {
    font-size: 1rem;
    margin-bottom: 1rem;
    line-height: 1;
  }
  .column2-content p,
  ul {
    font-size: 1.25rem;
    margin-bottom: 1rem;
    line-height: 1.5;
  }
  .column2-content li {
    list-style-type: none;

    margin-bottom: 1rem;

    color: #424242;
  }
  .btn-secondary {
    margin-top: 1rem !important;
  }
}

@media screen and (max-width: 430px) {
 
  .article-title {
    margin-bottom: 8rem;
  }
  .content-bg-orange {
    height: 10vh;
  }
}
