.content-wrapper-aboutcontent2 {
  max-width: 74.4rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;

  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 2;
  margin-bottom: -15rem;
  
  top: -20rem;
  color: white;
}
.article-container-aboutcontent2 {
  background-image: url(../../../../assets/speaking-topics.jpg);
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  padding: 5rem 4rem;
  width: 100%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  top: -20rem;
  position: relative;
  border-radius: 10px;
}
.column-aboutcontent2 {
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  gap: 2rem;
}
.column-aboutcontent2 h4 {
  font-size: 4rem;
  line-height: 1.1875;
}
.column-aboutcontent2 p {
  font-size: 1.25rem;
  line-height: 1.5;
}
.most-popular-link {
  width: 100%;
}
.column-article-about {
  display: flex;
  gap: 1rem;
}

.column1-influence-about img {
  width: 90%;
  margin-top: 3rem;
}
.column1-influence-about h4 {
  font-size: 2.5rem;
  line-height: 1.2;
  text-decoration: none;
  color: #000;
  transition: all 0.3s ease;
  font-weight: 700;
  letter-spacing: -1px;
  font-family: "Red Hat Display", sans-serif;
}
.column1-influence h2 a:hover {
  color: var(--primary-color1);
}

.column2-influence-about {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.column2-influence-about p {
  font-size: 1.25rem;
  line-height: 1.5;
  color: #424242;
}
.column2-influence-about ul {
  font-size: 1.25rem;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  line-height: 1.5;
}
.column2-influence-about li {
  list-style-type: none;

  color: #424242;
}
.column2-influence-about ul li::before {
  content: "•";
  color: var(--primary-color1);
  margin-right: 0.4rem;
}
.article-container-about-story {
  position: relative;
  top: -10rem;
}
.column1-about-story {
  width: 100%;
  color: #000;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.column1-about-story h4 {
  font-size: 4rem;
  line-height: 1.1875;
  margin-bottom: 2rem;
}
.column1-about-story p {
  font-size: 1.25rem;
  line-height: 1.5;
}
.column1-about-story h4 {
  font-size: 4rem;
  line-height: 1.1875;
}
.column2-about-story {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.column2-about-story img {
  width: 130%;
}
.video-press {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: -5rem;

  color: #000;
}
.video-press h4 {
  font-size: 4rem;
  line-height: 1.1875;
  margin-bottom: 1rem;
}
.video-press p {
  font-size: 1.25rem;
  line-height: 1.6;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 700;
}
.video-col {
  width: 100%;
  display: flex;

  gap: 3rem;
}
.player-press {
  width: 100%;
  height: 30vh;
}

@media screen and (max-width: 760px) {
  .column-aboutcontent2 {
    width: 100%;
  }
  .column-aboutcontent2 h4 {
    font-size: 2rem;
  }
  .column-aboutcontent2 p {
    font-size: 1rem;
  }
  .column1-about-story h4 {
    font-size: 2rem;
  }
  .column1-about-story p {
    font-size: 1rem;
  }
  .video-press h4 {
    font-size: 2rem;
    margin-bottom: 0;
  }
  .video-col {
    flex-direction: column;
  }
  .video-press p {
font-size: 1rem !important;
  }

}
@media screen and (max-width: 545px) {
  .content-wrapper-aboutcontent2 {
    width: 100%;
    padding: 0;
  }
  .article-container-aboutcontent2 {
    border-radius: 0;
    padding: 4rem 1.5rem;
  }
  .article-container-about-story {
    padding: 1rem 1.5rem;
  }
  .video-press {
    padding: 0 1.5rem;
  }
  
}
