.black-bg {
  background-color: black;
  padding-bottom: 6rem;
  padding-top: 20rem;

}
.wrap-article3 h3 {
  font-size: 3rem;
  line-height: calc(58em / 48);
  width: 50%;
  position: relative;
  color: #fff;
}
.wrap-article3 {
    width: 100%;
  max-width: 74.375rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  margin-left: auto;
  margin-right: auto;
}
.space-between-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10rem;

}
.bg-slide-fullwidth {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.glide-slide-container-center {
  width: 58%;
  height: 25rem;
  color: white;
  border-radius: 10px;
  position: absolute;
  top: -22rem;
}

.single-card-slide {
  display: flex;
  align-items: center;
  background-color: #fff;
  color: #000;
  gap: 10rem;
  padding: 6rem 4rem;
  border-radius: 10px;
}
.slide-display-flex img {
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.slide-content-review {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.company-review-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.company-review-wrap img {
  width: 7rem;
}

@media screen and (max-width: 1350px) {
  .single-card-slide {
    gap: 2rem;
  }
}
@media screen and (max-width: 1000px) {
  .single-card-slide {
    flex-direction: column;
  }
  .space-between-text {

  margin-top: 15rem;
}
}

@media screen and (max-width: 760px) {
  .space-between-text h3{
    font-size: 3rem;
    line-height: 1.1875;
  }
}
@media screen and (max-width: 650px) {
  .glide-slide-container-center {
    width: 90%;
  }}
@media screen and (max-width: 544px) {
  .space-between-text h3{
    font-size: 2rem;
    line-height: 1.1875;
  }
}

.space-between-text{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  
  gap: 2rem;
}
.space-between-text h3{
  width: 100%;
}
.article3{
  width: 13rem;
}

@media screen and (max-width: 370px) {
  .space-between-text {
    margin-top: 20rem;
  }
  }
