.aboutBg {
  position: absolute;
  top: 100%;
  left: 0%;
  transform: translate(-50%, -40%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  object-fit: cover;
}
