.content-container-influence {
  width: 100%;
  background-color: #000;
  box-shadow: 0px -30px 80px 0px #000;
  position: relative;
  top: -20rem;
}

.content-wrapper-influence {
  max-width: 74.4rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  margin-left: auto;
  margin-right: auto;
}
.article-container-influence {
  position: relative;

  z-index: 2;
  background-color: white;
  padding: 5rem 2.5rem;
  border-radius: 10px 10px 0 0;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.column-article-influence {
  display: flex;
  gap: 1rem;
}

.column1-influence {
  width: 80%;
}
.column1-influence img {
  width: 80%;
  margin-top: 3rem;
}
.column1-influence h4 {
  font-size: 2.5rem;
  line-height: 1.2;
  text-decoration: none;
  color: #000;
  transition: all 0.3s ease;
  font-weight: 700;
  letter-spacing: -1px;
  font-family: "Red Hat Display", sans-serif;
}
.column1-influence h2 a:hover {
  color: var(--primary-color1);
}

.column2-influence {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.column2-influence p {
  font-size: 1.25rem;
  line-height: 1.5;
  color: #424242;
}
.column2-influence ul {
  font-size: 1.25rem;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  line-height: 1.5;
}
.column2-influence li {
  list-style-type: none;

  color: #424242;
}
.column2-influence ul li::before {
  content: "•";
  color: var(--primary-color1);
  margin-right: 0.4rem;
}

@media screen and (max-width: 1100px) {
  .column-article-influence {
    display: flex;
    flex-direction: column;
    
  }
  .article-container-influence{
    padding: 4rem 1.5rem;
  }
  .column1-influence img {
    display: none;
  }
}
@media screen and (max-width: 760px) {
  .column1-influence h4 {
    font-size: 2rem;
  }
  .column2-influence p {
    font-size: 1rem;
  }
  .column2-influence ul {
    font-size: 1rem;
  }
}
@media screen and (max-width: 560px) {
.content-container-influence{
  background-color: #fff;
  box-shadow: none;
}
.content-wrapper-influence{
  width: 100%;
  padding: 0;
  
}
.article-container-influence{
  border-radius: 0;
}
}
@media screen and (max-width: 544px) {
  .content-container-influence {
    top: -10rem;
  }
}
