.content-container-speaking {
  width: 100%;

  height: auto;
  background-color: #000;
  box-shadow: 0px -30px 80px 0px #000;

  position: relative;
}

.content-wrapper-speaking {
  max-width: 74.4rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;

  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 2;
  top: -9rem;
  color: white;
}
.line-speaking {
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.2);
  margin-top: 3rem;
}

.column-article-speaking {
  display: flex;
  gap: 1rem;
}
.column1-speaking {
  width: 100% !important;
}
.column1-speaking h2 a {
  font-size: 2.5rem;
  line-height: 1.2;
  text-decoration: none;
  color: #fff;
  transition: all 0.3s ease;
}
.column1-speaking h2 a:hover {
  color: var(--primary-color1);
}

.column2-speaking {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.column2-speaking p {
  font-size: 1.25rem;
  line-height: 1.5;
}

@media (max-width: 1100px) {
  .column-article-speaking {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
  .column2-speaking {
    width: 100% !important;
    gap: 2rem;
  }
 
  .column1-speaking {
    width: 100%;
    gap: 2rem;
  }
 
 

  .speaking {
    width: 25rem;
  }
}
@media (max-width: 760px) {
  .column2-speaking p {
    font-size: 1rem !important;
  }
  .column1-speaking h2 a {
    font-size: 2rem !important;
  }
}
@media (max-width: 544px) {
  .speaking {
    width: 100%;
  }
}
