.bg-slide {
  background-color: var(--primary-color2);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding:2rem 0rem;
  margin-top: -2rem;
  
}
.glide-slide-container {
  width: 70%;
  height: 25rem;
  background-color: #843a1c;
  border-radius: 10px;
}

.mySwiper {
  width: 70%;
  position: absolute !important;
padding: 3rem !important;

  top: -4rem;
  
}

.top-position {
  top: 0rem;
  font-size: 18px;

  color: #fff;
  border-radius: 10px;
  padding: 3px;
  width: 100%;
  height: 100%;

  /* Center slide text vertically */
  display: flex;

  align-items: center;
}

.swiper-button-prev {
  background-color: #000;
  width: 4rem !important;
  height: 4rem !important;
  border-radius: 100%;
  color: white !important;

  position: absolute !important;
  top: 10rem !important;
}

.swiper-button-next {
  background-color: #000;
  width: 4rem !important;
  height: 4rem !important;
  border-radius: 100%;
  color: white !important;
  position: absolute;
  top: 10rem !important;
}
.player-wrapper {
  width: 100%;
  height: 200px;

  border-radius: 10px;
  overflow: hidden;
}

.slide-content h5 {
  font-size: 1.25rem;
  line-height: 1.6;
}
.slide-content p {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.125rem;
  line-height: calc(28em / 18);
}
.reveal-link {
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  font-family: "Red Hat Display", sans-serif;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.5;
  text-decoration: none;
  transition: all 0.3s;

  white-space: nowrap;
}

.reveal-link span {
  overflow: hidden;
  display: inline-block;
  max-width: 0;

  transition: all 0.5s ease;
}
.reveal-link::after {
  content: "";
  display: inline-block;
  width: 1.5rem;
  height: 1rem;
  background-image: url(https://www.jaybaer.com/wp-content/themes/jay-baer/images/arrow-orange.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  vertical-align: 0.1875rem;
  transition: all 0.3s;
}
.reveal-link:hover span {
  max-width: 100%;
  margin-right: 1.25rem;
}
.reveal-link:hover {
  color: #fff;
}



@media screen and (max-width: 544px) {
  .glide-slide-container {
  width: 100%;
  
}

.mySwiper {
  width: 100%;

  
}
}

