.column-article-books {
  display: flex;
  margin-bottom: 3rem;
  gap: 6rem;
}
.column2-books h4 {
  font-size: 2.5rem;
  line-height: 1.2;
  color: #000;
}
.column2-books p {
  font-size: 1.25rem;
  line-height: 1.5;
  color: #424242;
}
.column2-books {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.column1-books img {
  width: 25rem;
  height: auto;
}
.btn-books {
  display: flex;
  gap: 3rem;
}

.bookspage {
  height: auto;
  margin-bottom: -18rem;
}
.books{
  border-radius: 10px;
}

.column-reverse {
  flex-direction: row-reverse;
}

@media screen and (max-width: 1150px) {
.column-article-books{
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.column1-books img {
  width: 10rem;
  height: auto;
}

}
@media screen and (max-width: 760px) {
.btn-books {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 1rem
}
.wrapper-books{
  padding: 0;
}
.books{
  padding: 3rem 1.5rem;
  border-radius: 0;
}
.books h4{
 font-size: 2rem;
}
.books p{
 font-size: 1rem;
}
.column2-books {
  gap: 1rem;
}
}
@media screen and (max-width: 480px) {
.btn-books {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
}
