.nav-container {
  position: absolute;
  top: 0;
  padding: 2rem 0;
  width: 100%;
  transition: all 0.3s ease;
  z-index: 10 !important;
}
.wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 74.375rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  margin-left: auto;
  margin-right: auto;
}
.custom-logo-link {
  display: block;
  max-width: 17rem;
  max-height: 5rem;
  width: auto;
  height: auto;
  z-index: 10;
}
.menu-toggle {
  display: none;
}

.nav-links-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  margin: 0;

  list-style-type: none;
}
.links {
  color: #fff;
  text-decoration: none;
  font-size: 1.125rem;
  font-family: DINCond, sans-serif;
  transition: 0.2s ease-in;
}
.contact-button {
  padding: 0.5rem 1rem;
  background-color: #266B99;
  border-radius: 40px;
}

.links:hover {
  color: #84D5F7;
}
.active {
  color: #84D5F7;
}

@media only screen and (max-width: 1150px) {
  .nav-links-menu {
    display: none;
  }
  .nav-links-mobile {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: #000;
    left: 0;
    top: 5.1rem;
    width: 100%;
    height: auto;
    transform: translateY(0%);
    transition: all 0.3s ease-in-out;
  }
  .nav-links-mobile li {
    padding: 1.8rem 2.5rem;
    border-bottom: 0.5px solid gray;
  }
  .nav-container {
    padding: 0rem 0;
  }
  .custom-logo-link {
    width: 10rem;
    height: 3rem;
  }
  .wrap {
    padding: 1rem 2.5rem;
  }
  .nav-container.black-bg {
    background-color: black;
    border-bottom: gray solid 1px;
    padding: 0;
  }
}
@media screen and (min-width: 1150px) {
  .nav-links-mobile {
    display: none;
  }
}
