video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  object-fit: cover;
}

.links-btn {
  width: 100%;
  margin-top: 3rem;
  display: flex;
  gap: 2rem;
  
}
.links a {
  margin: 2.5625rem 0rem;
}
.links a::after {
  transition: all 0.3s;
}
.btn-primary {
  width: auto;
  position: relative;
  background-image: linear-gradient(90deg,#266b99,#84d5f7);
  display: inline-block;
  text-transform: uppercase;
  color: #fff;
  border-radius: 5.625rem;
  padding: 1rem 4.75rem 1rem 1.5rem;
  font-weight: 700;
  text-decoration: none;
  appearance: none;
  border: 0;
  cursor: pointer;
  letter-spacing: 0.08rem;
  line-height: 1.5rem;
  font-family: "Red Hat Display", sans-serif;
  text-align: left;
}
.btn-primary::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0.15rem;
  
  width: 3rem;
  height: 3rem;
  
  border-radius: 50%;
  transform: translateY(-50%);
  background-image: url(https://www.jaybaer.com/wp-content/themes/jay-baer/images/arrow-white.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1.125rem;
  background-color: #000;
}
.btn-primary:hover::after {
  background-color: #3f3f3f;
}
.btn-primary:hover {
  color: #fff;
  background-color: var(--hover-orange);
}
.btn-primary1 {
  width: auto;
  position: relative;
  background-color: #DB1616;
  display: inline-block;
  text-transform: uppercase;
  color: #fff;
  border-radius: 5.625rem;
  padding: 1rem 4.75rem 1rem 1.5rem;
  font-weight: 700;
  text-decoration: none;
  appearance: none;
  border: 0;
  cursor: pointer;
  letter-spacing: 0.08rem;
  line-height: 1.5rem;
  font-family: "Red Hat Display", sans-serif;
  text-align: left;
}
.btn-primary1::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0.15rem;
  
  width: 3rem;
  height: 3rem;
  
  border-radius: 50%;
  transform: translateY(-50%);
  background-image: url(https://www.jaybaer.com/wp-content/themes/jay-baer/images/arrow-white.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1.125rem;
  background-color: #000;
}
.btn-primary1:hover::after {
  background-color: #3f3f3f;
}
.btn-primary1:hover {
  color: #fff;
  background-color: var(--hover-orange);
}
.play-link {
  letter-spacing: 0.08em;
  display: inline-block;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.5;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: var(--primary-color2);
  font-family: "Red Hat Display", sans-serif;
}
.play-link:hover {
  color: var(--hover-orange);
}

.play-link::after {
  content: "";
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 1rem;
  border-radius: 50%;
  background: url(https://www.jaybaer.com/wp-content/themes/jay-baer/images/arrow.svg)
    center/0.75rem no-repeat #ff682b;
  transform: translate(0, 0.375rem);
  width: 2rem;
  height: 2rem;
  border: 0.0625rem solid #ff682b;
  vertical-align: -0.375rem;
  margin-left: 1.2rem;
  background-color: #fff;
  background-image: url(https://www.jaybaer.com/wp-content/themes/jay-baer/images/icon-play-small.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 0.5625rem;
}
.play-link:hover::after {
  background-color: var(--hover-orange);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
}

@media screen and (max-width: 760px) {
  .links-btn {
    width: 22rem;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 1.5rem;
  }
}
@media screen and (max-width: 532px) {
  .links-btn {
    width: 17rem;
    margin-top: 2rem;
    gap: 1rem;

    
  }
  .btn-primary {
    width: 100%;
    padding: 0.6rem 3rem;
    font-size: 0.8rem;
  }
  .btn-primary::after {
    width: 2rem;
    height: 2rem;
    
    
  }
  .play-link{
    text-align: start;
    padding: 0 0.7rem;
  }
  .play-link::after {
  
  width: 2rem;
  height: 2rem;
  
}
}
