.wrap-article-footer {
  padding: 1.875rem 0;
  background-color: #000;
}
.footer-widgets {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 3rem;
}
.footer-column1 img {
  width: 10rem;
}

.footer-menu {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;

  font-size: 1.125rem;
}
.footer-menu li {
  display: inline-block;
  padding: 0.4rem 1.125rem;
  
 
}
.footer-menu a{
    color: #fff;
    text-decoration: none;
    font-size: 1.125rem;
}


@media screen and (max-width: 800px) {
  .footer-widgets {
    flex-direction: column;
  }
}