.bottom-image {
  opacity: 1;
  background-repeat: repeat-x;
  background-size: auto;
  background-image: url("https://jaybaer.com/wp-content/uploads/2019/10/chequered.png");
  position: absolute;
  bottom: -2rem;
  left: 0;
  right: 0;
  
  

  height: 8%;
  width: 100%;
}
.wrap-article {
  width: 100%;
  max-width: 74.375rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
}
.column-article {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8rem;
  margin-bottom: 5rem;
}
.column1-content2 {
  width: 80%;
}
.column1-content2 h2 {
  font-size: 4rem;
  line-height: 1.1875;
  font-weight: 700;
  letter-spacing: -1px;
  margin-bottom: 1.5rem;
}

.column1-content2 p {
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
  line-height: 1.5;
}
.column2-content2 img {
  width: 100%;
}

.btn-secondary {
  width: 100%;
  margin-top: 2.5rem;
  position: relative;
  background-color: #000;
  display: inline-block;
  text-transform: uppercase;
  color: #fff;
  border-radius: 5.625rem;
  padding: 1rem 4.75rem 1rem 1.5rem;
  font-weight: 700;
  text-decoration: none;
  appearance: none;
  border: 0;
  cursor: pointer;
  letter-spacing: 0.08rem;
  line-height: 1.5rem;
  font-family: "Red Hat Display", sans-serif;
  text-align: left;
  transition: all 0.3s ease;
}
.btn-secondary::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0.25rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  transform: translateY(-50%);
  background-image: url(https://www.jaybaer.com/wp-content/themes/jay-baer/images/arrow-white.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1.125rem;
  background-color: var(--primary-color1);
}

.btn-secondary:hover {
  color: #fff;
  background-color: #3f3f3f;
}

@media screen and (max-width: 1100px) {
  .column2-content2 {
    display: none;
  }

  .column-article {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

@media screen and (max-width: 760px) {
  .column1-content2 h2 {
    font-size: 3rem;
    line-height: 1.1;
  }
  .column1-content2  {
    width: 100%;
  }
  .column1-content2 p {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 0;
  }
  .btn-secondary {
    width: 80%;
    margin-top: 1rem;
    font-size: 0.8rem;
    padding: 0.9rem 0.8rem;
  }
}
@media screen and (max-width: 532px) {
  .column1-content2 h2 {
    font-size: 2rem;
    line-height: 1.1;
  }
}

@media screen and (max-width: 532px) {
  .btn-secondary {
    width: 15rem !important
}
}