@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@400;500;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;600;700;800;900&family=Red+Hat+Text:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Red Hat Text", sans-serif;
}

:root {
  --primary-color1: #eb6028;
  --primary-color2: #ff682b;
  --secondary-color1: #cfcfcf;
  --hover-orange: #c94915;
}

@font-face {
  font-family: "DINCond";
  src: local("DINCond") url(./fonts/DINCond-Bold\ Regular.otf)
    format("truetype");
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Red Hat Display", sans-serif;
}
.hero-section {
  width: 100%;
  height: 60rem;

  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content {
  position: absolute;
  top: 13rem;
  width: 100%;
  max-width: 74.4rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  margin: auto;
  color: white;
  z-index: 1;
}

.hero-title {
  max-width: 43.75rem;
  margin: 0 0 1.5rem;
  color: #fff;
  font-size: 4rem;
  line-height: 1.1875;
  font-weight: 700;
  letter-spacing: -1px;
}
.hero-paragraph {
  max-width: 34rem;
  margin: 0;
  color: var(--secondary-color1);
  font-size: 1.25rem;
  line-height: 1.5;
}

@media screen and (max-width: 760px) {
  .content {
    top: 13rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .hero-title {
    margin: 0 0 1.5rem;
    font-size: 3rem;
    line-height: 1.1875;
  }
  .hero-paragraph {
    font-size: 1.15rem;
    line-height: 1.5;
  }
}
@media screen and (max-width: 544px) {
  .content {
    top: 7.5rem;
  }

  .hero-title {
    margin: 0 0 1.5rem;
    font-size: 2rem;
    line-height: 1.1;
  }
  .hero-paragraph {
    font-size: 1.2rem;
    line-height: 1.5;
  }
  @media screen and (max-width: 360px) {
    .hero-section {
      height: 45rem;
    }
  }
}
