.wrap-article-content-subscribe {
  width: 100%;
  height: 100%;
  background-color: var(--primary-color1);
  padding-top: 10rem;
  padding-bottom: 10rem;
  position: relative;
}

.wrap-article-subscribe {
  width: 100%;
  max-width: 74.375rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
}
.column-article-subscribe {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 6rem;

  gap: 1rem;
}
.column2-subscribe {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 3rem 3.125rem;
  display: flex;
  border-radius: 10px;

  justify-content: space-between;
}
.form-container-subscribe {
  width: 100%;

  display: flex;

  justify-content: space-between;
}
.wrap-input {
  width: 100%;
  display: flex;

  align-items: center;
  gap: 3rem;
}
.wrap-input input {
  width: 100%;
  padding: 1rem;
  border-radius: 80px;
  border: none;
  text-decoration: none;
  outline-color: var(--primary-color1);
  font-size: 1rem;
}
.column2-content4 h2 {
  font-size: 4rem;
  line-height: 1.1875;
  font-weight: 700;
  letter-spacing: -1px;
  margin-bottom: 1.5rem;
}
.column2-content4 span {
  color: var(--primary-color2);
}
.column2-content4 h5 {
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: 1.5rem;
}
.column2-content4 p {
  font-size: 1.25rem;
  margin-bottom: 3rem;
  line-height: 1.5;
}
.column1-subscribe h5 {
  font-size: 2.5rem;
  line-height: 1.2;
  margin: 0 0 2.5rem;
  max-width: 47.1875rem;
}

.btn-secondary-subscribe {
  width: 90%;

  position: relative;
  background-color: #000;
  display: inline-block;
  text-transform: uppercase;
  color: #fff;
  border-radius: 5.625rem;
  padding: 1rem 4.75rem 1rem 1.5rem;
  font-weight: 700;
  text-decoration: none;
  appearance: none;
  border: 0;
  cursor: pointer;
  letter-spacing: 0.08rem;
  line-height: 1.5rem;
  font-family: "Red Hat Display", sans-serif;
  text-align: left;
  transition: all 0.3s ease;
}
.btn-secondary-subscribe::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0.25rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  transform: translateY(-50%);
  background-image: url(https://www.jaybaer.com/wp-content/themes/jay-baer/images/arrow-white.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1.125rem;
  background-color: var(--primary-color1);
}

.btn-secondary-subscribe:hover {
  color: #fff;
  background-color: #3f3f3f;
}

@media screen and (max-width: 1000px) {
  .column2-subscribe {
    display: flex;
    flex-direction: column;
  }
  .wrap-input {
    display: flex;
    flex-direction: column;
  }
  .btn-secondary-subscribe {
    width: 100% !important;
  }
  .column1-subscribe h5 {
    font-size: 2rem !important;
  }
}
@media screen and (max-width: 760px) {
  .column2-subscribe {
    padding: 1rem 1rem !important;
  }
}
