.fullscreen-eventplanner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  object-fit: cover;
}

.most-popular-link-event {
  margin-top: 2rem;
}

.event-bg {
  width: 100%;
  height: auto;

  background-color: #000;
}
.event-container {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1;
  top: -10rem;
}

.event-article {
  width: 70rem;

  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  display: flex;
  flex-direction: column;
  padding: 6rem 4rem;
  gap: 2rem;
  background-color: #fff;
}
.event-title-card {
  width: 80%;
  font-size: 2.5rem;
}
.event-columns {
  display: flex;
  gap: 2rem;
}
.event-column1 {
  width: 60%;
  padding-right: 4rem;
  border-right: 1px solid lightgrey;
}
.event-column2 {
  width: 40%;
}
.event-column1 li {
  font-size: 1.25rem;
  margin-bottom: 1rem;
  line-height: 1.5;
  list-style-type: none;
  color: #424242;
}
.event-column1 ul li::before {
  content: "•";
  color: var(--primary-color1);
  margin-right: 0.4rem;
}
.event-column1 h5 {
  font-size: 1.25rem;
  margin-bottom: 1rem;
  line-height: 1.5;
  font-family: "Red Hat Text", sans-serif;
  color: #424242;
}
.event-column2 {
  display: flex;
  flex-direction: column;

  gap: 2rem;
}
.event-articles-links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.event-articles-links h5 {
  font-size: 1.25rem;
  font-weight: 700;
  color: #000;
  line-height: 1.5;
}
.event-articles-links p {
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: #424242;
}
.event-articles-links a {
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: var(--primary-color1);
}
.event-content {
  background-color: #000;
  padding-bottom: 1rem;
}
.event-contact-jay {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
  position: relative;
  top: -5rem;
}
.event-contact-jay h3 {
  font-size: 3rem;
  width: 60%;
}
.orange-text {
  color: var(--primary-color1);
}

@media screen and (max-width: 1025px) {
  .event-contact-jay {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }
  .event-contact-jay h3 {
    width: 100%;
  }
}
@media screen and (max-width: 1136px) {
  .event-article {
    border-radius: 0;
  }
}

@media screen and (max-width: 760px) {
  .event-article {
    padding: 3rem 1.5rem;
  }
  .event-title-card {
    width: 100%;
    font-size: 2rem;
  }
  .event-contact-jay {
    margin-bottom: -2rem;
  }
  .event-contact-jay h3 {
    font-size: 2rem;
  }
  .event-columns {
    display: flex;
    flex-direction: column;
  }
  .event-column1 {
    width: 100%;
    border: none;
    padding: 0;
    border-bottom: 1px solid lightgray;
  }
  .event-column1 li {
    font-size: 1rem;
  }
  .event-column2 {
    width: 100%;
  }
  .event-articles-links p {
    font-size: 1rem;
  }
}
@media screen and (max-width: 545px) {
  .event-container {
    top: 0rem;
  }
}
