.video-container {
  position: absolute;
  width: 100%;
  top: -30rem;
  cursor: pointer;
  z-index: 999;
  padding: 0 2rem;
}
.video-container img {
  width: 100%;
  object-fit: cover;
  border-radius: 6px;
}
.opacity-video {
  position: absolute;
  left: 2rem;
  right: 2rem;
  width: auto;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 6px;
}
.video-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.video-data .video-play {
  position: relative;
  width: 6.5rem;
  height: 6.5rem;
  margin-bottom: 1.5rem;
  background-color: #fff;
  border: 0.0625rem solid #ff682b;
  border-radius: 50%;
  transition: 0.2s all;
  margin: 0 auto 1.75rem;
  box-shadow: rgb(255 104 43 / 10%) 0 0 0 3.75rem;
}

.video-data .video-play::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 0;
  height: 0;
  margin-left: 0.3125rem;
  border-style: solid;
  border-width: 1rem 0 1rem 2rem;
  border-color: transparent transparent transparent #ff682b;
  transform: translate(-50%, -50%);
}
.video-heading h2 {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 0;
  letter-spacing: 0.0625rem;
  text-transform: uppercase;
  color: var(--primary-color1);
}
.video-heading p {
  margin-top: 0.5rem;
  text-align: center;
  font-size: 1rem;
}
.video-modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-close {
  position: absolute;
  top: 4rem;
  right: 19rem;
  font-size: 2rem;
  font-weight: bold;
  color: #ccc;
  cursor: pointer;
}


@media screen and (max-width: 1100px) {
 .video-container{
  top: -20rem;
 }

@media screen and (max-width: 650px) {
 .video-container{
  top: -15rem;
 }
  .video-data .video-play {
  position: relative;
  width: 3rem;
  height: 3rem;
  margin-bottom: 1.5rem;
  background-color: #fff;
  border: 0.0625rem solid #ff682b;
  border-radius: 50%;
  transition: 0.2s all;
  margin: 0 auto 1.75rem;
  box-shadow: rgb(255 104 43 / 10%) 0 0 0 0.75rem;
}

.video-data .video-play::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 0;
  height: 0;
  margin-left: 0.2125rem;
  border-style: solid;
  border-width: 0.5rem 0 0.5rem 1rem;
  border-color: transparent transparent transparent #ff682b;
  transform: translate(-50%, -50%);
}
.video-heading h2 {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 0;
  letter-spacing: 0.0625rem;
  text-transform: uppercase;
  color: var(--primary-color1);
}
.video-heading p {
  margin-top: 0.5rem;
  text-align: center;
  font-size: 1rem;
}
}
@media screen and (max-width: 400px) {
  
}

}